Django==4.2.13
python-docx==1.1.2
reportlab==4.2.2
django-crispy-forms==2.1
crispy-bootstrap5==2024.2
python-decouple==3.8
whitenoise==6.7.0
gunicorn==22.0.0
# Pillow нужен для работы с изображениями в reportlab.
# Для Python 3.13 и ниже: pip install Pillow
# Для Python 3.14+: установите Python 3.12 или попробуйте pip install Pillow --pre
